{% extends "base_green.html" %}

{% load nav_tags %}
{% block title %}
   Password Reset Confirm |
{% endblock %}
{% block top_nav %}{% top_nav "" %}{% endblock %}

{% load recent_award_tags %}

{% block recent_award %}{% recent_award %}{% endblock %}

{% load i18n %}

{% block extra_script %}
<script type="text/javascript">
	$(document).ready(function(){
	    showPassHint('id_new_password1', 'pass_hint1');
	    showPassHint('id_new_password2', 'pass_hint2');
	});
</script>
{% endblock %}

{% block green %}
{% if validlink %}
<form  method="post" action="" class="carbonneutral2">
    {% csrf_token %}
    <h2 class="congrats">New Password</h2>
    <h2 class="success padded">Please enter your new password twice so we can verify you typed it in correctly.</h2>

    <div class="signup">
    
    	{{ form.new_password1 }}
    	<input type="text" id="pass_hint1" value="New Password" style="display:none;"/>
        <div class="error">
        {{ form.new_password1.errors }}
        </div>
        
        {{ form.new_password2 }}
        <input type="text" id="pass_hint2" value="Confirm New Password" style="display:none;"/>
        <div class="error">
        {{ form.new_password2.errors }}
        </div>
        
        <input type="submit" class="send" name="submit" value="" />
        
    </div>
</form>
{% else %}
<h1>{% trans 'Password reset unsuccessful' %}</h1>
<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
{% endif %}
{% endblock %}