{% extends "base_green.html" %}

{% load nav_tags %}
{% block title %}
   Reset Password |
{% endblock %}
{% block top_nav %}{% top_nav "" %}{% endblock %}

{% load recent_award_tags %}

{% block recent_award %}{% recent_award %}{% endblock %}

{% load i18n %}

{% block extra_script %}
<script type="text/javascript">
	$(document).ready(function(){
	    showHint('id_email', 'Enter Your E-mail Address');
	});
</script>
{% endblock %}

{% block green %}
<form  method="post" action="" class="carbonneutral2">
    {% csrf_token %}
    <h2 class="signup_header">Reset Password</h2>
	{% if form.email.errors %}
		<h2 class="error padded" style="font-size:22px;padding-bottom:40px;">
                    <!--{{ form.email.errors }}-->
                    That e-mail address doesn't have an associated user account. Are you sure you've registered?
                </h2>
	{% else %}
        <h2 class="signup_header_sub_text" style="font-size:22px;padding-bottom:40px;">Enter your e-mail below, and we'll e-mail instructions for setting a new one.</h2>
	{% endif %}

    <div class="signup">
    	{{ form.email }}
        <div class="error">
        </div>
        <input type="submit" class="send_white" name="submit" value="" />
        
    </div>
</form>
{% endblock %}