{% extends "base_green.html" %}

{% load nav_tags %}
{% block title %}
   Signup Success |
{% endblock %}
{% block top_nav %}{% top_nav "" %}{% endblock %}

{% load recent_award_tags %}

{% block recent_award %}{% recent_award %}{% endblock %}

{% block green %}
	<form method="post" action="" class="carbonneutral2">
				<h2 class="signup_header">Good Work!</h2>
				<h2 class="signup_header_sub_text">
				So you are signed up.Now what?Besides following us on Facebook and Twitter here are a few more productive options:
				</h2>
				<div class="hosts">
					<div class="left signoffset">
						<h2 class="clickabove">EcoCheck another site</h2>
						<div class="ecochechanother">
							EcoCheck a new domain or a new hosting provider
						</div>
						<a href="/domains/check/" class="startnow"></a>
					</div>
					<div class="middle  signoffset2">
						<h2 class="clickabove clickoffset">Current Deals</h2>
						<div class="ecochechanother anotheroffset">
							We have partnered with several companies to help you find the most cost effective hosting provider.
						</div>
						<a href="/domains/certifiedhosts/" class="viewdetails"></a>
					</div>
					<div class="right  signoffset2">
						<h2 class="clickabove clickoffset">Help promote us</h2>
						<div class="ecochechanother anotheroffset">
							Tell your friends, family & <br> colleagues about what we do!
						</div>
						<a href="http://facebook.com/share.php?u=ecochecks.org/" class="facebook"></a>
						<a href="http://twitter.com/home?status=I just EcoChecked the domain and I am 100%25 C02 Neutral!" class="twitter"></a>
					</div>
				</div>

				<a href="/account/signup/" class="previousbt"></a>
	</form>
{% endblock %}

