{% extends "base.html" %}

{% load nav_tags %}

{% block top_nav %}{% top_nav "certified_list" %}{% endblock %}

{% load recent_award_tags %}

{% block recent_award %}{% recent_award %}{% endblock %}

{% block content %}
<div class="content">
	<h6>a few certified carbon neutral hosts</h6>
	<h1>CERTIFIED HOSTS</h1>
	{% if hosts %}
		{% for host in hosts %}
			{% if forloop.first %}
				<div class="host-list-item first">
		    		<img src="{{ host.logo.url }}" alt="" class="left" />
		    		<div class="certified_host_item">
		    		<h2>{{ host.name }}</h2>
		    		{{ host.description }}
		    		</div>
		    		{% if host.signup_url %}
		    		<a href="{{host.signup_url}}" class="certified_host_submit" target="_blank"></a>
		    		{% endif %}
				</div>
			{% else %}
				<div class="host-list-item">
	    			<img src="{{ host.logo.url }}" alt="" class="left" />
	    			<div class="certified_host_item">
	    			<h2>{{ host.name }}</h2>
	    			{{ host.description }}
	    			</div>
	    			{% if host.signup_url %}
	    			<a href="{{host.signup_url}}" class="certified_host_submit" target="_blank"></a>
	    			{% endif %}
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
</div>
{% endblock %}