{% extends "base.html" %} 

{% load nav_tags %} 
{% load recent_award_tags %}

{% block top_nav %} 
	{% top_nav "process" %} 
{% endblock %} 

{% block recent_award %}{% recent_award %}{% endblock %}

{% block content%}
<h6>
  how our system works
</h6>
<h1>
  ECOCHECKS PROCESS
</h1>
<div class="process-list-item">
  <div class="step">
    <h3>
      STEP
    </h3>
    <h2>
      1
    </h2>
  </div>
  <h2>
    Nam vel justo nisl.
  </h2>
  Nullam ante erat, rutrum nec facilisis eu, ultricies pulvinar nunc. Aenean vestibulum diam ut tortor auctor aliquet ut
  vitae tellus. Nulla nec est a nibh lobortis blandit. Phasellus gravida lacus quis justo accumsan vehicula. Nullam
  iaculis massa quis ante dapibus molestie. Nam adipiscing magna eget enim rhoncus vel semper lacus bibendum.
</div>
<!-- end process list item -->
<div class="process-list-item">
  <div class="step">
    <h3>
      STEP
    </h3>
    <h2>
      2
    </h2>
  </div>
  <h2>
    Curabitur sed velit magna, nec rutrum lorem.
  </h2>
  Curabitur auctor ultrices lorem, at congue ligula volutpat a. Morbi vestibulum auctor orci, vel tristique nunc
  convallis in. Praesent a lectus sed dolor semper viverra. Vestibulum ante ipsum primis in faucibus orci luctus et
  ultrices posuere cubilia Curae; Nullam vel consectetur nisl. Suspendisse venenatis, nunc vitae tristique lobortis,
  nunc nunc cursus magna, a imperdiet ante arcu eu metus. Aliquam orci risus, accumsan at scelerisque a, venenatis vitae
  justo.
</div>
<!-- end process list item -->
<div class="process-list-item">
  <div class="step">
    <h3>
      STEP
    </h3>
    <h2>
      3
    </h2>
  </div>
  <h2>
    Duis nec ipsum a tortor hendrerit condimentum.
  </h2>
  Praesent cursus mattis sem, in tristique est consequat at. Pellentesque tincidunt, erat quis blandit porta, nibh est
  imperdiet nibh, non dapibus dui lectus quis nisi. Aliquam varius augue posuere quam rhoncus pellentesque. Proin vel
  erat nibh, in lacinia purus.
</div>
<!-- end process list item -->
<div class="process-list-item">
  <div class="step">
    <h3>
      STEP
    </h3>
    <h2>
      4
    </h2>
  </div>
  <h2>
    Vivamus dolor mauris, pretium et commodo in, viverra in ligula.
  </h2>
  Pellentesque lobortis, turpis ut congue varius, dolor magna tempor quam, vel adipiscing ipsum risus eu augue. Maecenas
  lacus elit, placerat in ullamcorper sit amet, euismod a ipsum. Etiam posuere arcu ac erat hendrerit mollis. Duis ac
  nulla neque. Vivamus mollis, mauris laoreet tincidunt aliquet, lorem tortor pellentesque diam, quis suscipit lorem
  justo eget mi. Nulla tempor rhoncus luctus. Duis justo elit, iaculis at scelerisque eu, gravida non sem.
</div>
<!-- end process list item -->
<div class="process-list-item">
  <div class="step">
    <h3>
      STEP
    </h3>
    <h2>
      5
    </h2>
  </div>
  <h2>
    Quisque molestie odio eu risus aliquam lobortis.
  </h2>
  Pellentesque lobortis, turpis ut congue varius, dolor magna tempor quam, vel adipiscing ipsum risus eu augue. Maecenas
  lacus elit, placerat in ullamcorper sit amet, euismod a ipsum. Etiam posuere arcu ac erat hendrerit mollis. Duis ac
  nulla neque. Vivamus mollis, mauris laoreet tincidunt aliquet, lorem tortor pellentesque diam, quis suscipit lorem
  justo eget mi. Nulla tempor rhoncus luctus. Duis justo elit, iaculis at scelerisque eu, gravida non sem.
</div>
<!-- end process list item -->
{% endblock %}
