{% extends "base_green.html" %}

{% load nav_tags %}

{% block top_nav %}{% top_nav "" %}{% endblock %}

{% load recent_award_tags %}

{% block recent_award %}{% recent_award %}{% endblock %}

{% block extra_script %}
<script type="text/javascript">
    function submitForm(){
        document.mainForm.submit();
    }
</script>
{% endblock %}

{% block green %}
<form method="post" action="" class="carbonneutral2" name="mainForm">
	<h2 class="congrats">Claim Your Domain</h2>
	<h2 class="success padded">Before we can create your custom badge we need to know you're really the site owner.</h2>
	<div class="htmlverify">
		<div class="claim_meta_subhead">
		Copy the meta tag below, and paste it into your site's home page. It should go in the &lt;head&gt;
		section, before the first &lt;body&gt; section.
		</div>
		<textarea class="claim_meta">
<meta name="ecochecks-verification"
content="{{metacontent}}"/>		
		</textarea>
		<div class="error">
            <span> {{ error_info }}</span>
        </div>
        <input type="hidden" name="metacontent" value="{{metacontent}}">
	</div>
	<a href="/domains/" class="verify-later"></a>
	<a href="javascript:submitForm();" class="verify"></a>
	<a href="/domains/{{domain.id}}/verify/" class="byhtml"></a>
	<a href="/domains/check/" class="previousbt" name="submit" value=""></a>
</form>
{% endblock %}