{% extends "base.html" %}

{% load nav_tags %}
{% block title %}
   Who is Hosting |
{% endblock %}
{% block top_nav %}{% top_nav "whois" %}{% endblock %}

{% load recent_award_tags %}

{% block recent_award %}{% recent_award %}{% endblock %}

{% block content %}
<form method="post" action="">
	<label>Your Domain<span>*</span></label>
	{{ form.domain }}
	<div class="error">
        <span> {{form.name.errors}}</span>
    </div>
	<input type="submit" name="submit" class="submit" value="" />
</form>
{% endblock %}