<div class="progressbar">
    <span class="label">Progress: </span>
    <span class="state completed">1</span>
    <span class="separator"></span>
    <span class="state completed">2</span>
    <span class="separator"></span>
    <span class="state completed">3</span>
    <span class="separator"></span>
    <span class="state completed">4</span>
    <span class="separator"></span>
    <span class="state">5</span>
    <span class="separator"></span>
    <span class="state">6</span>
    <span class="separator"></span>
    <span class="state">7</span>
</div>
<!-- end of progressbar -->
